@charset "UTF-8";

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ccc;
}

tr {
	border-bottom: 1px solid #ddd
}

tr:nth-child(odd) {
	background-color: #fff
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}

tr:hover {
	background-color: #ccc;
}

td, th {
	text-align: left;
	padding: 8px 8px;
	vertical-align: top
}

td:first-child, th:first-child {
	padding-left: 16px;
}