<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE 
	configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="false"/>
	</settings>
	<typeAliases>
		<typeAlias alias="iolistVO" type="com.biz.iolist.model.IolistVO"/>
		<typeAlias type="com.biz.iolist.model.IolistDto" alias="iolistDto"/>
		
		<typeAlias type="com.biz.iolist.model.ProductVO" alias="productVO"/>
		<typeAlias type="com.biz.iolist.model.DeptVO" alias="deptVO"/>
		
	</typeAliases>
</configuration>	