@charset "UTF-8";

label {
	
	display: block;
	width:100px;
	float:left;
	
	font-weight: bold;
	color : #009688;
	font-size: 11pt;

	padding:8px;
	text-align: right;

	
}

/* input tag와 textarea tag에 공통된 스타일을 지정하라 */
input,select,textarea {

	/* label과 나란히 input box를 배치하기 위해서 */
	display: inline-block;
	width:85%;
	
	margin:3px;
	padding:8px;
	border : 1px solid #ccc;
}

button {
	margin-bottom: 10px;
	width:120px;
	background: blue;
	color:white;
	font-weight: bold;
	padding:0.5em;
	border: none;
}

button:hover {
	background-color: green;
	color:yellow;
}




